<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Login Registration</title>
	{% load static %}
	<link rel="stylesheet" rel="shortcut icon" type="text/css" href="{% static 'beltreview/css/bootstrap-3.3.7-dist/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'beltreview/css/main.css' %}">
</head>
<body>
	<div class="container">
		<h1 class="text-center">Login and Register</h1>
		<div class="col-md-6">
			<h2 class="text-center">Register</h2>
			<form class="form-horizontal" action="/register" method="POST">
				{% csrf_token %}
				<div class="form-group">
					<label class="col-sm-4 control-label">Name:</label>
					<div class="col-sm-8">
						<input type="text" name="name">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">Alias:</label>
					<div class="col-sm-8">
						<input type="text" name="alias">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">Email:</label>
					<div class="col-sm-8">
						<input type="text" name="email">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">Password:</label>
					<div class="col-sm-8">
						<input type="password" name="password">
					</div>
				</div>
				<p>Password has to be 8 characters</p>
				<div class="form-group">
					<label class="col-sm-4 control-label">Confirm PW:</label>
					<div class="col-sm-8">
						<input type="password" name="confirm_pw">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-4 col-sm-8">
						<input type="submit" value="Register">
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-6">
			<h2 class="text-center">Login</h2>
			<form class="form-horizontal" action="/login" method="POST">
				{% csrf_token %}
				<div class="form-group">
					<label class="col-sm-4 control-label">Email:</label>
					<div class="col-sm-8">
						<input type="text" name="email">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">Password:</label>
					<div class="col-sm-8">
						<input type="password" name="password">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-4 col-sm-8">
						<input type="submit" value="Log in">
					</div>
				</div>
			</form>
		</div>
		{% if messages %}
			{% for message in messages %}
			<p style="color: red;">{{message}}</p>
			{% endfor %}
		{% endif %}
	</div>
</body>
</html>