<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Show Book Review</title>
	{% load static %}
	<link rel="stylesheet" rel="shortcut icon" type="text/css" href="{% static 'beltreview/css/bootstrap-3.3.7-dist/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'beltreview/css/main.css' %}">
</head>
<body>
	<div class="container">
		<div class="col-md-offset-8 col-md-4">
			<p class="text-center"><a href="/reviews">home</a> | <a href="/logout">Log out</a></p>
		</div>
		<div class="col-md-6">
			<h2>{{book.title}}</h2>
			<h3>Author: {{book.author.name}}</h3>
			<div>
				<h3>Reviews:</h3>
				<hr>
				{% for review in book.reviews.all %}
					<p>Ratings: {{review.rate}}</p>
					<p><a href="/user/{{review.reviewer.id}}">{{review.reviewer.names}}</a> says: {{review.review}}</p>
					<p>Posted on: {{review.created_at}}</p>
					<hr>
				{% endfor %}
			</div>
		</div>
		<div class="col-md-6">
			<form action="/book/{{book.id}}/create" method="POST">
				{% csrf_token %}
				<div class="form-group">
					<label>Add a review:</label>
					<textarea class="form-control" rows="5" name="review"></textarea>
				</div>
				<div class="form-group">
					<label>Rating:</label>
					<select name="ratings">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
				</div>
				<input type="submit" value="Submit review">
			</form>
		</div>
	</div>
</body>
</html>