<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Success</title>
	{% load static %}
	<link rel="stylesheet" rel="shortcut icon" type="text/css" href="{% static 'loginreg/css/bootstrap-3.3.7-dist/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'loginreg/css/main.css' %}">
</head>
<body>
	<div class="container">
		<div class="col-md-6 col-md-offset-3">
			<h2>Success! Welcome {{user.first_name}}</h2>
			{% for message in messages %}
			<p style="color: green">{{message}}</p>
			{% endfor %}
		</div>
	</div>
</body>
</html>