*{
	margin: 0px;
	padding: 0px;
}
#container{
	width: 970px;
	margin: 20px auto;
}
#container h1, h4, h3{
	margin: 20px auto;
	text-align: center;
}
#container form{
	text-align: center;
}
#correct, #toohigh, #toolow{
	text-align: center;
	margin: 30px auto;
	width: 300px;
	height: 200px;
	border: 2px solid black;
}
#correct{
	background-color: green;
}
#toohigh{
	background-color: red;
}
#toolow{
	background-color: blue;
}
.white_text{
	color: white;
}