<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Edit Friends</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-3.3.7-dist/css/bootstrap.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fullfriends.css') }}">
</head>
<body>
	<div class="container">
		<h1>Edit Friend</h1>
		<table class="table table-striped table-bordered">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
			</tr>
			{% for friend in one_friend %}
				<tr>
					<td>{{ friend['first_name'] }}</td>
					<td>{{ friend['last_name'] }}</td>
					<td>{{ friend['email'] }}</td>
				</tr>
			{% endfor %}
		</table>
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					<div>
						<h6 class="{{ category }}">{{ message }}</h6>
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		<div class="row">
		{% for friend in one_friend %}
			<form class="form-horizontal" action="/friends/{{ friend['id'] }}" method="POST">
				<div class="form-group">
					<label class="col-sm-2 control-label">First Name:</label>
					<input type="text" name="first_name"><br>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Last Name:</label>
					<input type="text" name="last_name"><br>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Email:</label>
					<input type="text" name="email"><br>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<input type="submit" class="btn btn-default btn-sm" name="submit" value="Update Friend">
					</div>
				</div>
			</form>
		{% endfor %}
	</div>
	</div>
</body>
</html>